body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:961px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:134px;
}
#u134 {
  position:absolute;
  left:38px;
  top:256px;
  width:699px;
  height:134px;
}
#u135 {
  position:absolute;
  left:2px;
  top:59px;
  width:695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:857px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:857px;
}
#u137 {
  position:absolute;
  left:2px;
  top:420px;
  width:957px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:38px;
  top:436px;
  width:101px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u139 {
  position:absolute;
  left:228px;
  top:269px;
  width:153px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u140 {
  position:absolute;
  left:33px;
  top:100px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:62px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:62px;
}
#u142 {
  position:absolute;
  left:2px;
  top:23px;
  width:831px;
  visibility:hidden;
  word-wrap:break-word;
}
