body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:807px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:991px;
}
#u649 {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:991px;
}
#u650 {
  position:absolute;
  left:2px;
  top:488px;
  width:803px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651 {
  position:absolute;
  left:30px;
  top:626px;
  width:615px;
  height:41px;
}
#u651_input {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u652 {
  position:absolute;
  left:30px;
  top:742px;
  width:615px;
  height:41px;
}
#u652_input {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u653 {
  position:absolute;
  left:22px;
  top:807px;
  width:100px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
