body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:889px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:13px;
  top:91px;
  width:90px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1 {
  position:absolute;
  left:0px;
  top:669px;
  width:889px;
  height:1038px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:889px;
  height:1038px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:418px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:418px;
}
#u3 {
  position:absolute;
  left:2px;
  top:201px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:26px;
  top:242px;
  width:141px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:26px;
  top:0px;
  width:696px;
  height:77px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:889px;
  height:1038px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:38px;
}
#u6 {
  position:absolute;
  left:19px;
  top:760px;
  width:160px;
  height:38px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:1033px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:1033px;
}
#u9 {
  position:absolute;
  left:2px;
  top:508px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:6px;
  width:693px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:19px;
  top:755px;
  width:167px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:19px;
  top:866px;
  width:167px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:668px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:668px;
}
#u14 {
  position:absolute;
  left:2px;
  top:326px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
