body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1041px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:842px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:842px;
}
#u197 {
  position:absolute;
  left:2px;
  top:413px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:48px;
  top:610px;
  width:856px;
  height:41px;
}
#u198_input {
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u199 {
  position:absolute;
  left:40px;
  top:97px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u200 {
  position:absolute;
  left:40px;
  top:735px;
  width:100px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
