body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:825px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:646px;
}
#u633 {
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:646px;
}
#u634 {
  position:absolute;
  left:2px;
  top:315px;
  width:821px;
  visibility:hidden;
  word-wrap:break-word;
}
#u635 {
  position:absolute;
  left:540px;
  top:238px;
  width:100px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u636 {
  position:absolute;
  left:20px;
  top:424px;
  width:200px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u637 {
  position:absolute;
  left:28px;
  top:153px;
  width:772px;
  height:59px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u638 {
  position:absolute;
  left:2px;
  top:8px;
  width:768px;
  word-wrap:break-word;
}
#u639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u639 {
  position:absolute;
  left:315px;
  top:243px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u640 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u641 {
  position:absolute;
  left:315px;
  top:334px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u642 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u643 {
  position:absolute;
  left:315px;
  top:288px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u644 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u645 {
  position:absolute;
  left:315px;
  top:380px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u646 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
