body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:817px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:633px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:633px;
}
#u85 {
  position:absolute;
  left:2px;
  top:308px;
  width:813px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u86 {
  position:absolute;
  left:27px;
  top:228px;
  width:757px;
  height:47px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u86_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u86.mouseOver {
}
#u87 {
  position:absolute;
  left:15px;
  top:10px;
  width:742px;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u88 {
  position:absolute;
  left:27px;
  top:279px;
  width:757px;
  height:47px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u88_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u88.mouseOver {
}
#u89 {
  position:absolute;
  left:15px;
  top:10px;
  width:742px;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u90 {
  position:absolute;
  left:27px;
  top:400px;
  width:757px;
  height:47px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u90_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u90.mouseOver {
}
#u91 {
  position:absolute;
  left:15px;
  top:10px;
  width:742px;
  word-wrap:break-word;
}
