body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:873px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:914px;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:914px;
}
#u272 {
  position:absolute;
  left:2px;
  top:449px;
  width:869px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273 {
  position:absolute;
  left:21px;
  top:437px;
  width:151px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:62px;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:62px;
}
#u275 {
  position:absolute;
  left:2px;
  top:23px;
  width:869px;
  visibility:hidden;
  word-wrap:break-word;
}
