body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:821px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:57px;
}
#u1063 {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:57px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:20px;
  width:805px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1065 {
  position:absolute;
  left:27px;
  top:109px;
  width:462px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  white-space:nowrap;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:113px;
}
#u1067 {
  position:absolute;
  left:37px;
  top:364px;
  width:617px;
  height:113px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:48px;
  width:613px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:70px;
}
#u1069 {
  position:absolute;
  left:-27px;
  top:627px;
  width:875px;
  height:70px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:27px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1071 {
  position:absolute;
  left:80px;
  top:225px;
  width:373px;
  height:25px;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1072 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1073 {
  position:absolute;
  left:80px;
  top:268px;
  width:421px;
  height:25px;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  word-wrap:break-word;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1075 {
  position:absolute;
  left:80px;
  top:310px;
  width:421px;
  height:25px;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1076 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  word-wrap:break-word;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1077 {
  position:absolute;
  left:37px;
  top:220px;
  width:27px;
  height:27px;
}
#u1078 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1079 {
  position:absolute;
  left:37px;
  top:220px;
  width:27px;
  height:27px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1081 {
  position:absolute;
  left:37px;
  top:264px;
  width:27px;
  height:27px;
}
#u1082 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1083 {
  position:absolute;
  left:37px;
  top:264px;
  width:27px;
  height:27px;
}
#u1084 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1085 {
  position:absolute;
  left:37px;
  top:307px;
  width:27px;
  height:27px;
}
#u1086 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1087 {
  position:absolute;
  left:37px;
  top:307px;
  width:27px;
  height:27px;
}
#u1088 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#06A0A0;
}
#u1089 {
  position:absolute;
  left:217px;
  top:512px;
  width:190px;
  height:21px;
  font-size:18px;
  text-decoration:underline;
  color:#06A0A0;
}
#u1090 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u1091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(6, 160, 160, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1091 {
  position:absolute;
  left:33px;
  top:503px;
  width:101px;
  height:40px;
  font-size:18px;
}
#u1092 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u1093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1093 {
  position:absolute;
  left:27px;
  top:162px;
  width:743px;
  height:48px;
  font-family:'HiraginoSans-W4', 'Hiragino Sans W4', 'Hiragino Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1094 {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  word-wrap:break-word;
}
