body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1036px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1036px;
  height:719px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:1036px;
  height:719px;
}
#u129 {
  position:absolute;
  left:2px;
  top:352px;
  width:1032px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u130 {
  position:absolute;
  left:59px;
  top:346px;
  width:856px;
  height:47px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u130_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u130.mouseOver {
}
#u131 {
  position:absolute;
  left:15px;
  top:10px;
  width:841px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:62px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:62px;
}
#u133 {
  position:absolute;
  left:2px;
  top:23px;
  width:831px;
  visibility:hidden;
  word-wrap:break-word;
}
