body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:849px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:496px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:496px;
}
#u76 {
  position:absolute;
  left:2px;
  top:240px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:20px;
  top:84px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u78 {
  position:absolute;
  left:26px;
  top:295px;
  width:49px;
  height:38px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:38px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79 {
  position:absolute;
  left:91px;
  top:295px;
  width:64px;
  height:38px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:38px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u80 {
  position:absolute;
  left:173px;
  top:295px;
  width:67px;
  height:38px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u81 {
  position:absolute;
  left:21px;
  top:359px;
  width:100px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:62px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:62px;
}
#u83 {
  position:absolute;
  left:2px;
  top:23px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:88px;
}
#u84 {
  position:absolute;
  left:-1px;
  top:495px;
  width:851px;
  height:88px;
}
#u85 {
  position:absolute;
  left:2px;
  top:36px;
  width:847px;
  visibility:hidden;
  word-wrap:break-word;
}
