body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:915px;
}
#u334 {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:915px;
}
#u335 {
  position:absolute;
  left:2px;
  top:450px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336 {
  position:absolute;
  left:53px;
  top:722px;
  width:118px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u337 {
  position:absolute;
  left:64px;
  top:669px;
  width:54px;
  height:41px;
}
#u337_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u338 {
  position:absolute;
  left:135px;
  top:669px;
  width:74px;
  height:41px;
}
#u338_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
