body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:725px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:725px;
}
#u124 {
  position:absolute;
  left:2px;
  top:354px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:57px;
  top:316px;
  width:161px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:62px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:62px;
}
#u127 {
  position:absolute;
  left:2px;
  top:23px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
