body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:804px;
}
#u384 {
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:804px;
}
#u385 {
  position:absolute;
  left:2px;
  top:394px;
  width:924px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:116px;
}
#u387 {
  position:absolute;
  left:26px;
  top:442px;
  width:767px;
  height:116px;
}
#u388 {
  position:absolute;
  left:2px;
  top:50px;
  width:763px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:16px;
}
#u389 {
  position:absolute;
  left:59px;
  top:476px;
  width:719px;
  height:57px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:16px;
}
#u390 {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  word-wrap:break-word;
}
#u391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u391 {
  position:absolute;
  left:59px;
  top:458px;
  width:326px;
  height:22px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u392 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  white-space:nowrap;
}
