body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:640px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2 {
  position:absolute;
  left:389px;
  top:344px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u4 {
  position:absolute;
  left:389px;
  top:293px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u6 {
  position:absolute;
  left:389px;
  top:244px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:646px;
  top:280px;
  width:100px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:646px;
  top:236px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:55px;
  top:397px;
  width:204px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u11 {
  position:absolute;
  left:389px;
  top:196px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:646px;
  top:192px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
