body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:872px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:872px;
  height:817px;
}
#u361 {
  position:absolute;
  left:0px;
  top:0px;
  width:872px;
  height:817px;
}
#u362 {
  position:absolute;
  left:2px;
  top:400px;
  width:868px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:459px;
}
#u363 {
  position:absolute;
  left:-2px;
  top:603px;
  width:870px;
  height:459px;
}
#u364 {
  position:absolute;
  left:2px;
  top:222px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:37px;
}
#u365 {
  position:absolute;
  left:39px;
  top:566px;
  width:280px;
  height:37px;
}
#u366 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367 {
  position:absolute;
  left:25px;
  top:653px;
  width:123px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u368 {
  position:absolute;
  left:30px;
  top:88px;
  width:90px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u369 {
  position:absolute;
  left:53px;
  top:577px;
  width:246px;
  height:16px;
}
#u370 {
  position:absolute;
  left:16px;
  top:0px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u371 {
  position:absolute;
  left:53px;
  top:614px;
  width:246px;
  height:16px;
}
#u372 {
  position:absolute;
  left:16px;
  top:0px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
