body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:942px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:942px;
  height:853px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:942px;
  height:853px;
}
#u203 {
  position:absolute;
  left:2px;
  top:418px;
  width:938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:41px;
  top:665px;
  width:121px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u205 {
  position:absolute;
  left:62px;
  top:610px;
  width:151px;
  height:41px;
}
#u205_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u206 {
  position:absolute;
  left:52px;
  top:100px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:62px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:62px;
}
#u208 {
  position:absolute;
  left:2px;
  top:23px;
  width:831px;
  visibility:hidden;
  word-wrap:break-word;
}
