body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1009px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1009px;
  height:723px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:1009px;
  height:723px;
}
#u135 {
  position:absolute;
  left:2px;
  top:354px;
  width:1005px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:72px;
  top:99px;
  width:90px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u137 {
  position:absolute;
  left:72px;
  top:497px;
  width:112px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u138 {
  position:absolute;
  left:92px;
  top:366px;
  width:246px;
  height:16px;
}
#u139 {
  position:absolute;
  left:16px;
  top:0px;
  width:228px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u140 {
  position:absolute;
  left:97px;
  top:293px;
  width:227px;
  height:16px;
}
#u141 {
  position:absolute;
  left:16px;
  top:0px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
