body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:863px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:645px;
}
#u474 {
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:645px;
}
#u475 {
  position:absolute;
  left:2px;
  top:314px;
  width:859px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:149px;
}
#u477 {
  position:absolute;
  left:26px;
  top:196px;
  width:767px;
  height:149px;
}
#u478 {
  position:absolute;
  left:2px;
  top:66px;
  width:763px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:16px;
}
#u479 {
  position:absolute;
  left:59px;
  top:230px;
  width:719px;
  height:95px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:16px;
}
#u480 {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  word-wrap:break-word;
}
#u481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u481 {
  position:absolute;
  left:59px;
  top:212px;
  width:303px;
  height:22px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u482 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  white-space:nowrap;
}
