body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:825px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:646px;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:646px;
}
#u653 {
  position:absolute;
  left:2px;
  top:315px;
  width:821px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654 {
  position:absolute;
  left:283px;
  top:238px;
  width:357px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u655 {
  position:absolute;
  left:20px;
  top:424px;
  width:200px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u656 {
  position:absolute;
  left:28px;
  top:153px;
  width:772px;
  height:59px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u657 {
  position:absolute;
  left:2px;
  top:8px;
  width:768px;
  word-wrap:break-word;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u658 {
  position:absolute;
  left:315px;
  top:243px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u659 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u660 {
  position:absolute;
  left:315px;
  top:334px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u662 {
  position:absolute;
  left:315px;
  top:288px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u664 {
  position:absolute;
  left:315px;
  top:380px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
