body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:851px;
}
#u302 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:851px;
}
#u303 {
  position:absolute;
  left:2px;
  top:418px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304 {
  position:absolute;
  left:40px;
  top:665px;
  width:118px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u305 {
  position:absolute;
  left:52px;
  top:615px;
  width:161px;
  height:41px;
}
#u305_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u306 {
  position:absolute;
  left:40px;
  top:102px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
