body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:990px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:583px;
}
#u126 {
  position:absolute;
  left:0px;
  top:-9px;
  width:990px;
  height:583px;
}
#u127 {
  position:absolute;
  left:2px;
  top:284px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u128 {
  position:absolute;
  left:315px;
  top:284px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u130 {
  position:absolute;
  left:315px;
  top:329px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u132 {
  position:absolute;
  left:315px;
  top:230px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u134 {
  position:absolute;
  left:315px;
  top:181px;
  width:45px;
  height:22px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:791px;
  top:217px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u137 {
  position:absolute;
  left:791px;
  top:173px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u138 {
  position:absolute;
  left:31px;
  top:380px;
  width:200px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
