body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1066px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:1079px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:1079px;
}
#u139 {
  position:absolute;
  left:2px;
  top:532px;
  width:1062px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:98px;
  top:664px;
  width:539px;
  height:41px;
}
#u140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u141 {
  position:absolute;
  left:98px;
  top:792px;
  width:539px;
  height:41px;
}
#u141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u142 {
  position:absolute;
  left:90px;
  top:1023px;
  width:100px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u143 {
  position:absolute;
  left:98px;
  top:948px;
  width:539px;
  height:41px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:41px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u144 {
  position:absolute;
  left:80px;
  top:100px;
  width:100px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
