body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:725px;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:725px;
}
#u263 {
  position:absolute;
  left:2px;
  top:354px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:62px;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:62px;
}
#u265 {
  position:absolute;
  left:2px;
  top:23px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:240px;
}
#u266 {
  position:absolute;
  left:62px;
  top:72px;
  width:711px;
  height:240px;
}
#u267 {
  position:absolute;
  left:2px;
  top:112px;
  width:707px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:57px;
  top:316px;
  width:161px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
